.home-clientes .group-214 {
  width: 215px;
  height: 51px;
}
.home-clientes .logo-master {
  position: absolute;
  left: 63px;
  top: 63px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 215px;
  height: 51px;
  box-sizing: border-box;
}
.home-clientes .home {
  margin-right: 10px;
  width: 112.1px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #2274FF;
}
.home-clientes .services {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #404444;
}
.home-clientes .client-support {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #404444;
}
.home-clientes .container-2 {
  margin: 0 0 9.5px 10.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400.5px;
  box-sizing: border-box;
}
.home-clientes .rectangle-4369 {
  background: #030163;
  align-self: flex-start;
  width: 77px;
  height: 2px;
}
.home-clientes .group-1000000795 {
  margin: 0 0 213.5px 458px;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 410.6px;
  box-sizing: border-box;
}
.home-clientes .we-are-your-premier-choice-for-personalized-services-during-your-stay {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 46px;
  letter-spacing: -1.4px;
  color: #2274FF;
}
.we-are-your-premier-choice-for-personalized-services-during-your-stay-sub115 {
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 46px;
  letter-spacing: -1.4px;
  line-height: 1.333;
  color: #030163;
}
.we-are-your-premier-choice-for-personalized-services-during-your-stay {
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 46px;
  letter-spacing: -1.4px;
  line-height: 1.333;
  color: #030163;
}
.home-clientes .group-1000000797 {
  margin-bottom: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.home-clientes .want-to-elevate-your-stay-in-mexico-venu-is-dedicated-to-delivering-unparalleled-services-to-our-guests-across-the-country {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 25px;
  letter-spacing: -0.8px;
  color: #030163;
}
.home-clientes .group-10000007981 {
  margin: 0 0 65px 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.home-clientes .making-every-stay-aunique-experience {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: -0.8px;
  color: #2274FF;
}
.home-clientes .group-1000000799 {
  margin: 0 11.2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  box-sizing: border-box;
}
.home-clientes .group-1000000802 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.home-clientes .travelingpana {
  position: absolute;
  right: 124.9px;
  bottom: 214.8px;
  width: 623.1px;
  height: 434.2px;
}
.home-clientes .container-5 {
  background: url('../assets/images/asset13.png');
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 77px 0 160px 98px;
  box-sizing: border-box;
}
.home-clientes .group-1000000796 {
  position: relative;
  box-sizing: border-box;
}
.home-clientes .container-10 {
  background: linear-gradient(0.27deg, rgba(167, 199, 255, 0.2) -5.7%, #FFFFFF 62%);
  position: relative;
  margin-bottom: 1902px;
  box-sizing: border-box;
}
.home-clientes .professional-suppliers-weve-taken-the-initiative-to-handpick-the-best-local-suppliers-for-you-with-an-unwavering-emphasis-on-quality-our-collaborations-with-these-professionals-guarantee-aseamless-and-enjoyable-trip-experience-free-from-any-hassles-purchase-protection-your-peace-of-mind-is-our-priority-if-any-supplier-is-unable-to-provide-the-product-or-service-you-purchased-we-will-refund-your-money {
  margin: 0 129px 121px 129px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 1.5;
  color: #2274FF;
}
.home-clientes .client-testimonials {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 46px;
  letter-spacing: -1.4px;
  color: #222177;
}
.home-clientes .group-1000000851 {
  margin: 0 120px 39px 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.home-clientes .image-2 {
  background: url('../assets/images/image21.png') 50% / cover no-repeat;
  position: absolute;
  right: -3.4px;
  bottom: -37.9px;
  width: 80.4px;
  height: 121.8px;
}
.home-clientes .mask-group {
  border-radius: 38.5px;
  position: relative;
  margin: 11px 28px 0 0;
  width: 77px;
  height: fit-content;
  box-sizing: border-box;
}
.home-clientes .dan-claire {
  position: relative;
  margin: 0 19.8px 32px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 25px;
  letter-spacing: -0.8px;
  line-height: 2.24;
  color: #2274FF;
}
.home-clientes .vector-547 {
  width: 32.5px;
  height: 30.5px;
}
.home-clientes .star-4 {
  margin: 52.2px 13.3px 5.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 32.5px;
  height: 30.5px;
  box-sizing: border-box;
}
.home-clientes .day-ago {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 25px;
  letter-spacing: -0.8px;
  color: #222177;
}
.home-clientes .group-1000000852 {
  margin: 49px 0 1px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.home-clientes .vector-409 {
  width: 32.5px;
  height: 30.9px;
}
.home-clientes .star {
  position: absolute;
  left: 96.3px;
  bottom: 4.9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 32.5px;
  height: 30.9px;
  box-sizing: border-box;
}
.home-clientes .vector-435 {
  width: 32.5px;
  height: 30.9px;
}
.home-clientes .star-1 {
  position: absolute;
  left: 135.3px;
  bottom: 4.9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 32.5px;
  height: 30.9px;
  box-sizing: border-box;
}
.home-clientes .vector-473 {
  width: 32.5px;
  height: 30.9px;
}
.home-clientes .star-2 {
  position: absolute;
  left: 174.3px;
  bottom: 4.9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 32.5px;
  height: 30.9px;
  box-sizing: border-box;
}
.home-clientes .vector-508 {
  width: 32.5px;
  height: 30.5px;
}
.home-clientes .star-3 {
  position: absolute;
  right: 169.8px;
  bottom: 5.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 32.5px;
  height: 30.5px;
  box-sizing: border-box;
}
.home-clientes .container-11 {
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.home-clientes .irecently-had-the-pleasure-of-renting-ayacht-through-venu-and-imust-say-it-was-an-absolute-dream-come-true-from-start-to-finish-the-entire-experience-exceeded-my-expectations {
  margin: 0 0px 0 9px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 1.5;
  color: #2274FF;
}
.home-clientes .container-4 {
  margin: 12px 105.4px 33px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-clientes .madison-turner {
  position: relative;
  margin: 0 1.2px 31px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 25px;
  letter-spacing: -0.8px;
  line-height: 2.24;
  color: #2274FF;
}
.home-clientes .days-ago {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 25px;
  letter-spacing: -0.8px;
  color: #222177;
}
.home-clientes .group-10000008521 {
  margin-top: 49px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.home-clientes .vector-971 {
  width: 32.5px;
  height: 30.5px;
}
.home-clientes .star-9 {
  position: absolute;
  left: 50%;
  bottom: 4.5px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 32.5px;
  height: 30.5px;
  box-sizing: border-box;
}
.home-clientes .vector-866 {
  width: 32.5px;
  height: 30.9px;
}
.home-clientes .star-6 {
  position: absolute;
  left: 30.3px;
  bottom: 3.9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 32.5px;
  height: 30.9px;
  box-sizing: border-box;
}
.home-clientes .vector-899 {
  width: 32.5px;
  height: 30.9px;
}
.home-clientes .star-7 {
  position: absolute;
  left: 69.3px;
  bottom: 3.9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 32.5px;
  height: 30.9px;
  box-sizing: border-box;
}
.home-clientes .vector-933 {
  width: 32.5px;
  height: 30.5px;
}
.home-clientes .star-8 {
  position: absolute;
  left: 108.3px;
  bottom: 4.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 32.5px;
  height: 30.5px;
  box-sizing: border-box;
}
.home-clientes .container {
  position: relative;
  margin: 0 0 41px 21.9px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.home-clientes .ihighly-recommend-venu-for-anyone-seeking-atop-tier-chauffeur-service-their-attention-to-detail-professionalism-and-commitment-to-customer-satisfaction-make-them-stand-out-ilook-forward-to-utilizing-their-services-again-in-the-future {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: 1.5;
  color: #2274FF;
}
.home-clientes .vector-830 {
  width: 32.5px;
  height: 30.9px;
}
.home-clientes .star-5 {
  position: absolute;
  left: 87.3px;
  top: 52.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 32.5px;
  height: 30.9px;
  box-sizing: border-box;
}
.home-clientes .group-1000000890 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.home-clientes .image-21 {
  background: url('../assets/images/image2.jpeg') 50% / cover no-repeat;
  position: absolute;
  right: -3.4px;
  bottom: -37.9px;
  width: 80.4px;
  height: 121.8px;
}
.home-clientes .mask-group-1 {
  border-radius: 38.5px;
  position: absolute;
  top: 11px;
  right: 431.6px;
  width: 77px;
  height: 77px;
}
.home-clientes .container-3 {
  position: relative;
  margin: 0 137px 65px 137px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.home-clientes .vector-4662 {
  width: 47px;
  height: 18.8px;
}
.home-clientes .iconarrow-left-1 {
  transform: rotate(-89.632deg);
  margin: 0 0 184.2px 31px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 47px;
  height: 18.8px;
  box-sizing: border-box;
}
.home-clientes .group-232 {
  width: 213px;
  height: 60px;
}
.home-clientes .lmaster-alterno-1 {
  margin: 0 18.3px 35px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 213px;
  height: 60px;
  box-sizing: border-box;
}
.home-clientes .making-every-stay-aunique-aunique-experience {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.3px;
  line-height: 1.75;
  color: #626A7D;
}
.home-clientes .container-1 {
  margin-right: 130.7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.home-clientes .links {
  margin-bottom: 12px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 21px;
  line-height: 1.143;
  color: #030163;
}
.home-clientes .home-services-client-support {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 2.25;
  color: #2274FF;
}
.home-clientes .container-8 {
  margin: 1px 0 6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-clientes .container-15 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.home-clientes .vector-4668 {
  margin: 0 15.2px 1.5px 0;
  width: 4.8px;
  height: 4.8px;
}
.home-clientes .vector-4667 {
  background: #407BFF;
  margin: 0.3px 2.6px 0 0;
  width: 4.1px;
  height: 13.4px;
}
.home-clientes .vector-4666 {
  margin-bottom: 0px;
  width: 12.9px;
  height: 13.7px;
}
.home-clientes .container-9 {
  margin-left: 0.3px;
  display: flex;
  flex-direction: row;
  width: 19.7px;
  box-sizing: border-box;
}
.home-clientes .linkedin {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
  box-sizing: border-box;
}
.home-clientes .vector-4665 {
  width: 20px;
  height: 20px;
}
.home-clientes .messenger {
  margin: 0 16px 0px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.home-clientes .vector-4669 {
  width: 20px;
  height: 16.3px;
}
.home-clientes .twitter {
  margin: 1.9px 16px 1.9px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20px;
  height: 16.3px;
  box-sizing: border-box;
}
.home-clientes .vector-4671 {
  width: 20px;
  height: 10.8px;
}
.home-clientes .twoo {
  margin: 4.6px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20px;
  height: 10.8px;
  box-sizing: border-box;
}
.home-clientes .group-169 {
  margin-bottom: 74px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 128px;
  box-sizing: border-box;
}
.home-clientes .all-rights-reserved-venu-mx-privacy-notice {
  margin: 0 0px;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.3px;
  line-height: 1.625;
  color: #2274FF;
}
.all-rights-reserved-venu-mx-privacy-notice {
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 16px;
  text-decoration-line: underline;
  letter-spacing: -0.3px;
  line-height: 1.333;
}
.home-clientes .group-1000000846 {
  position: relative;
  margin-right: 0.2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-clientes .payment-methods {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 36px;
  letter-spacing: -1.1px;
  color: #222177;
}
.home-clientes .group-1000000798 {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.home-clientes .image-3 {
  background: url('../assets/images/image3.png') 50% / cover no-repeat;
  margin: 12px 35px 11px 0;
  width: 110px;
  height: 49px;
}
.home-clientes .image-4 {
  background: url('../assets/images/image4.png') 50% / cover no-repeat;
  margin: 9px 35px 8px 0;
  width: 70px;
  height: 55px;
}
.home-clientes .image-5 {
  background: url('../assets/images/image5.png') 50% / cover no-repeat;
  margin: 9px 34px 8px 0;
  width: 70px;
  height: 55px;
}
.home-clientes .image-6 {
  background: url('../assets/images/image6.png') 50% / cover no-repeat;
  width: 128px;
  height: 72px;
}
.home-clientes .group-1000000903 {
  display: flex;
  flex-direction: row;
  width: 482px;
  box-sizing: border-box;
}
.home-clientes .container-7 {
  margin: 1px 0 142px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-clientes .rectangle-97 {
  opacity: 0.1;
  background: #2274FF;
  position: absolute;
  left: 58px;
  right: 58px;
  bottom: 117px;
  height: 1px;
}
.home-clientes .group-1000000912 {
  background: #F4F8FF;
  position: relative;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  padding: 39px 130px 49px 55px;
  width: fit-content;
  box-sizing: border-box;
}
.home-clientes .seamlessly-integrated-with-leading-hosting-platforms {
  margin: 0 19.3px 102px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 31.8px;
  text-transform: uppercase;
  color: var(--dark-blu-brand, #222177);
}
.home-clientes .vector-5280 {
  width: 178.3px;
  height: 56px;
}
.home-clientes .airbnb-1 {
  margin: 4px 0 1px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 178.3px;
  height: 56px;
  box-sizing: border-box;
}
.home-clientes .bookingcom-1 {
  margin-top: 5px;
  width: 330.3px;
  height: 56px;
}
.home-clientes .homeaway-21 {
  margin-bottom: 5px;
  width: 288.3px;
  height: 56px;
}
.home-clientes .container-13 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1114.3px;
  box-sizing: border-box;
}
.home-clientes .container-14 {
  background: #F4F8FF;
  position: relative;
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  padding: 56px 0 161px 0;
  width: 1440px;
  box-sizing: border-box;
}
.home-clientes .what-do-we-offer {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 46px;
  letter-spacing: -1.4px;
  color: #2274FF;
}
.home-clientes .group-1000000849 {
  margin: 0 0 569px 1856.8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  box-sizing: border-box;
}
.home-clientes .group-230 {
  width: 292.3px;
  height: 55.9px;
}
.home-clientes .kayak-logo-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  width: 292.3px;
  height: 55.9px;
  box-sizing: border-box;
}
.home-clientes .brake-logos {
  position: absolute;
  left: -1854px;
  top: 934px;
  display: flex;
  flex-direction: column;
  width: 3294px;
  height: 1162.9px;
  box-sizing: border-box;
}
.home-clientes .discover-arange-of-unparalleled-services-and-products-with-venu-mx-from-yacht-rentals-and-dynamic-tours-to-smooth-transfers-and-wellness-services-all-are-customized-for-your-location-experience-hassle-free-bookings-and-trust-in-our-dedicated-care {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -1.2px;
  line-height: 1.4;
  color: var(--dark-blu-brand, #222177);
}
.home-clientes .group-1000000808 {
  margin: 0 0 91px 2.7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  box-sizing: border-box;
}
.home-clientes .healthy-lifestylebro {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 11.8px 75.1px 8.5px 0;
  width: 230.9px;
  height: 205.2px;
}
.home-clientes .catering-serviceamico {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-right: 75px;
  width: 245px;
  height: 225.6px;
}
.home-clientes .yachtpana {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 39.5px 74.9px 6.9px 0;
  width: 322.1px;
  height: 179.2px;
}
.home-clientes .car-drivingrafiki {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 1px 0 17.5px 0;
  width: 281.6px;
  height: 207px;
}
.home-clientes .container-6 {
  margin: 0 58.4px 102.4px 58.4px;
  display: flex;
  flex-direction: row;
  width: 1304.6px;
  box-sizing: border-box;
}
.home-clientes .view-cart {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
}
.home-clientes .component-2 {
  border-radius: 50px;
  background: #2274FF;
  position: relative;
  margin: 0 0 117.5px 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: 16.4px 0 15.6px 0.1px;
  width: 272px;
  box-sizing: border-box;
}
.home-clientes .rectangle-4373 {
  background: rgba(34, 116, 255, 0.05);
  position: relative;
  width: 1440px;
  height: 783px;
}
.home-clientes .container-12 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 1716.3px;
  height: 808.1px;
}
.home-clientes .at-venu-quality-is-paramount-we-only-work-with-professional-suppliers-to-ensure-that-you-enjoy-your-trip-without-any-inconveniences {
  position: absolute;
  left: 333.3px;
  bottom: 336.1px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 45px;
  letter-spacing: -1.3px;
  line-height: 1.244;
  color: var(--dark-blu-brand, #222177);
}
.at-venu-quality-is-paramount-we-only-work-with-professional-suppliers-to-ensure-that-you-enjoy-your-trip-without-any-inconveniences-sub4 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 45px;
  letter-spacing: -1.3px;
  line-height: 1.333;
  color: #2274FF;
}
.home-clientes .group-1000000844 {
  position: absolute;
  left: -208px;
  bottom: 1101.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 68.3px 35.6px 0;
  width: 1716.3px;
  height: 1691.1px;
  box-sizing: border-box;
}
.home-clientes .frame-153 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-clientes {
  background: #FFFFFF;
  width: 1440px;
  box-sizing: border-box;
}
